* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

/* All CSS */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.header .logo {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -20px;
}

.header a span {
  padding-left: 15px;
}

.mainmenu ul {
  margin: 0;
  padding: 0;
}

.mainmenu li {
  display: inline-block;
}

.mainmenu li a {
  display: block;
  color: #000;
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.btn {
  background: #000;
  color: #fff;
  height: 40px;
  width: 10%;
  border-radius: 5px;
  transition: 0.3s;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainmenu {
  width: 70%;
  text-align: right;
}

.header .btn i {
  padding-left: 5px;
}

.header .btn:is(:hover) {
  background: #fff;
  color: #000;
  border: 2px solid #000;
}

.home-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 80vh;
}

.home-section .one {
  line-height: 1.8;
}

.home-section .one h3 {
  font-weight: 500;
  margin: 10px 0;
}

.home-section .one h1 {
  font-size: 50px;
}

.btn.home-btn {
  width: 160px;
  margin: 15px 0;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
}

.footer-right ul {
  margin: 0;
  padding: 0;
}

.footer-right li {
  display: inline-block;
}

.footer-right li a {
  color: #000;
  padding-left: 10px;
}

.footer-right li:nth-child(2) {
  border-left: 1px solid #ddd;
}

.footer-right li:nth-child(1) {
  padding-right: 10px;
}
td,
th {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.info-details table th {
  background: #ddd;
}

.contact-form {
  width: 30%;
}

.contact-form form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.contact-form h3 {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form input[type="submit"] {
  border: none;
  resize: none;
  background: #ddd;
  margin: 10px 0;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
}

.contact-form textarea {
  height: 100px;
}

.contact-form textarea:focus {
  box-shadow: none;
  outline: none;
}

.contact-form input:focus {
  box-shadow: none;
  outline: none;
}

.contact-form input[type="submit"] {
  width: 50%;
  background: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.info-details {
  width: 60%;
}
#contact{
  margin-bottom: 40px
}