/* ============== GLobal CSS ============== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
input:focus {
  box-shadow: none;
  outline: none;
}
/* ============== Variable Define ============== */
:root {
  --primary-color: rgba(6, 193, 103, 1);
  --text-color: rgba(29, 29, 31, 1);
}

/* For scroll smooth (means click one menu and go its area by scrollling) */
html {
  scroll-behavior: smooth;
}

/* ========== Custom scroll bar ========== */

::-webkit-scrollbar {
  width: 0.5rem; /* 1rem = 16pixels So, .25rem = 4pixels*/
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* ============== Custom CSS ==============*/
.padding-50 {
  padding: 50px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
  align-items: center;
}
h1 {
  color: var(--text-color);
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
h2 {
  color: var(--text-color);
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
h3 {
  color: var(--text-color);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
h4 {
  color: var(--text-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--text-color);
}
h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--text-color);
}
p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--text-color);
}

/* ============ HEADER Start ============ */
.hamburg-menu,
.close-button {
  display: none;
}
.header {
  width: 100%;
  padding: 20px 180px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header.active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.logo img {
  max-width: 110px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(0.95);
}

.mainmenu ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 50px;
  transition: all 0.3s ease-in-out;
}

.mainmenu li a {
  display: block;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.mainmenu li a:hover {
  color: var(--primary-color);
  font-weight: 500;
}

.mainmenu ul:hover li {
  filter: blur(2px);
}

.mainmenu ul li:hover {
  filter: blur(0px);
}
/* ============ HEADER End ============ */

/*============ Home Section Start============ */
#home {
  background-color: rgba(243, 252, 247, 1);
}
.home-sec {
  justify-content: space-between;
  height: 80vh;
  padding-block: 200px;
}

.girl-image img {
  max-width: 450px;
  height: 600px;
}

.text-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 60px;
  width: 200px;
  background: var(--primary-color);
  justify-content: center;
  color: #fff;
  font-size: 18px;
  border-radius: 2px;
  transition: all 0.3s;
  border: 2px solid var(--primary-color);
}

.btn:hover {
  background: transparent;
  color: var(--primary-color);
  transform: translateY(-5px);
}

.right-home {
  position: relative;
  z-index: 1;
  margin-block-start: 250px;
}

.bullet-home-image img {
  position: absolute;
  bottom: 0;
  right: -15%;
}

.quality-ticker {
  position: absolute;
  top: 30%;
  right: -25px;
  z-index: 5;
  background: #fff;
  border-radius: 50px;
  padding: 5px;
  gap: 15px;
}

.rating-home {
  gap: 15px;
  background: #fff;
  border-radius: 50px;
  padding: 12px 12px;
  position: absolute;
  top: 50%;
  left: -80px;
  z-index: 5;
}

.rating-home span {
  font-size: 15px;
  font-weight: 500;
}

.rating-home .rating li i {
  color: var(--primary-color);
}

.rating ul {
  gap: 5px;
}
.left-home {
  margin-inline-end: 20px;
}

.right-home {
  margin-inline-start: 20px;
}
/*============ Home Section End============ */

/* ========= Brand Section Start */
.brand {
  gap: 50px;
  margin-block-start: 50px;
  cursor: pointer;
}

/* ========= Brand Section end */

/* =============== Features Section Start ================= */
.border-features {
  padding-block: 40px;
  border-top: 1.5px solid #7070707a;
  border-bottom: 1.5px solid #7070707a;
}

.features {
  justify-content: space-between;
  flex-wrap: wrap;
}

.single-features-item {
  gap: 20px;
  height: 60px;
  width: 220px;
}

.features-icon-image img {
  max-width: 60px;
  height: auto;
  width: 100%;
}

.features-content h6 {
  color: #1d1d1f;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.features-content p {
  color: #1d1d1f;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-block-start: 5px;
}
/* =============== Features Section end ================= */

/* ========== Benefit Section Start========= */
.benefits {
  justify-content: space-between;
  align-items: flex-start;
}
.absulate-image {
  background-image: url(../assets/vege-image.png);
}
.absulate-image-2 {
  background-image: url(../assets/drink-juice.png);
}
.absulate-image {
  height: 445px;
  max-width: 520px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.left-side-benefits,
.right-side-benefits {
  width: 50%;
}

.left-side-benefits {
  margin-inline-end: 80px;
}

.absulate-image:after {
  position: absolute;
  z-index: -1;
  content: "";
  left: 50%;
  top: 0;
  height: 115%;
  width: 115%;
  background: rgba(243, 250, 251, 1);
  transform: translate(-50%, 0);
}

.right-side-benefits {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bullet-image img {
  position: absolute;
  top: 50px;
  left: -50px;
  z-index: -1;
}

.benefits-list li {
  padding-block-start: 10px;
}

.benefits-list li i {
  color: #06c167;
  margin-inline-end: 10px;
}
.single-wrapper h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #06c167;
}

.single-wrapper span {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper .single-wrapper {
  height: 70px;
  width: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.star.right-side-benefits {
  gap: 30px;
}

.star .left-side-benefits {
  margin: 0;
  margin-inline-start: 80px;
}

.absulate-image-2.absulate-image:after {
  top: 0px;
  height: 115%;
  width: 115%;
  left: 221px;
}
.star {
  margin-block-start: 50px;
}
/* ============Benefit Section End=========== */

.content-varaity {
  text-align: center;
  margin-block-end: 20px;
}

.single-content img {
  max-width: 290px;
  height: 290px;
}

.single-content {
  height: 290px;
  width: 580px;
  background: rgba(243, 252, 247, 1);
}

.single-content-item {
  padding: 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.varaity-btn {
  background: rgba(230, 249, 240, 1);
  font-size: 15px;
  color: rgba(6, 193, 103, 1);
  display: flex;
  gap: 10px;
  height: 40px;
  width: 150px;
  align-items: center;
  justify-content: center;
}
.three.single-content,
.four.single-content {
  flex-direction: row-reverse;
}

.single-content-item {
  border: 2px solid rgba(6, 193, 103, 1);
}

/* product start */
.content-product {
  text-align: left;
  margin-block-end: 40px;
}

.product-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.single-product-items {
  width: 23%;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(118, 118, 117, 0.25);
  transition: 0.3s;
}

.single-product-items img {
  height: 190px;
  max-width: 190px;
}

.single-product-items .rating ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.single-product-items .rating li i {
  color: var(--primary-color);
}

.single-product-items:hover {
  border-color: var(--primary-color);
}

.single-product-items span {
  color: var(--primary-color);
  font-weight: 500;
}

.single-product-items del {
  color: rgba(118, 118, 117, 1);
  margin-inline-end: 5px;
}

.single-product-items .buy-btn {
  color: var(--primary-color);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;
  border: 2px solid var(--primary-color);
}
.content-varaity span {
  margin-block-end: 20px;
  display: inline-block;
}

.content-product span {
  display: inline-block;
  margin-block-end: 20px;
}
/* product end */

/* Newsletter start */
.newsletter {
  background-image: url(../assets/Rectangle\ 8.png);
}
.newsletter {
  height: 450px;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content-newsletter {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.content-newsletter h1 {
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* Newsletter end */

/* Footer start */
.footer-top {
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-side-one {
  width: 30%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.social-links ul {
  gap: 15px;
}

.social-links li a {
  color: var(--primary-color);
}

.footer-side-two {
  width: 40%;
  justify-content: space-evenly;
}

.footer-content h4 {
  margin-block-end: 15px;
}

.footer-content li a {
  color: #000;
  display: inline-block;
  padding-bottom: 10px;
}

.footer-side-three {
  width: 30%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footer-side-three input[type="email"] {
  border: none;
  padding: 12px 25px;
  background: rgba(240, 241, 236, 1);
}

.footer-side-three input[type="submit"] {
  padding: 12px 20px;
  border: none;
  font-weight: 500;
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.footer-side-three input[type="submit"]:active {
  transform: scale(0.95);
}

.footer-bottom {
  text-align: center;
  margin-block: 30px;
}
/* Footer end */
