@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.header {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  background: #242526;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  color: #fff;
  font-size: 60px;
  cursor: pointer;
}

.mainmenu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mainmenu li a {
  color: #fff;
  display: flex;
  height: 40px;
  width: 80px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: 0.3s;
}

.mainmenu li a:hover {
  background: #fff;
  color: #000;
}

.mainmenu li a i {
  margin-block-start: 5px;
  margin-inline-start: 5px;
  font-size: 10px;
}
.mainmenu .dropdown {
  position: absolute;
  background: #242526;
  width: 200px;
  padding: 20px 0;
  left: 0px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.mainmenu li {
  position: relative;
}

.dropdown li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.dropdown li {
  margin-block: 8px;
}

.mainmenu li:hover .dropdown {
  left: -90px;
  opacity: 1;
  visibility: visible;
}
.mainmenu .subdropdown {
  position: absolute;
  background: #242526;
  width: 150px;
  top: 50px;
  left: 200px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.mainmenu .dropdown li:hover .subdropdown {
  opacity: 1;
  visibility: visible;
  top: 0;
}
