.testimonial__section {
  background-color: var(--BG-Shade);
}
.testimonial__wrapper {
  padding-block: 120px;
  padding-inline: 20px;
}

.testimonial__content span {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--Heading-color);
}
.testimonial__content h2 {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: var(--Heading-color);
  padding-top: 15px;
  margin-bottom: 60px;
}
.single__testimonials {
  padding: 25px 40px;
  border-radius: 8px;
  border: 2px solid #006b6a;
  transition: all 0.3s;
  cursor: pointer;
}

.single__testimonials img {
  max-width: 120px;
}

.testimonial__comment {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-block: 20px;
  color: var(--Body);
}

.aurthor__meta {
  display: flex;
  align-items: center;
  gap: 20px;
}

.author__img {
  max-width: 75px !important;
}

.content h3 {
  font-size: 21.333px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--Heading-color);
}

.content span {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--Body);
}

@media screen and (max-width: 480px) {
  .single__testimonials {
    padding: 20px 20px;
  }
}

@media (max-width: 420px) {
  .testimonial__comment {
    text-align: justify;
  }

  .single__testimonials img {
    margin: 0 auto;
  }

  .aurthor__meta {
    flex-direction: column;
  }

  .content {
    text-align: center;
  }
}
